/* Authentication Page Styles */

body {
  background-color: #222222;
}

.auth-container {
  background-color: #FFFFFF;
  max-width: 22rem;
  margin: 22.5% auto;
  width: 50%;
  height: 50%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
}

/* Login & Register Styles */

.auth-buttons button {
  margin-bottom: 2rem;
  padding: .5rem 4.11rem;
}

.submit-button {
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  left: 6.5rem;
}

.submit-button:hover {
  background-color: #E31C25;
}