/* Authentication Page Styles */

body {
  background-color: #222222 !important;
}

.auth-container {
  background-color: #FFFFFF !important;
  max-width: 22rem !important;
  margin: 22.5% auto !important;
  width: 50% !important;
  height: 50% !important;
}

h1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1rem !important;
  margin-bottom: 1.5rem;
  font-weight: 100;
}

/* Login & Register Styles */

.auth-buttons button {
  margin-bottom: 2rem !important;
  padding: .5rem 4.11rem !important;
}

.submit-button {
  position: relative !important;
  padding: .5rem 1rem !important;
  margin-bottom: 1rem !important;
  left: 6.5rem !important;
}

.submit-button:hover {
  background-color: #E31C25;
}

.username-input, .password-input {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.login-form .input-container label,
.register-form .input-container label {
  font-size: .7rem;
  position: relative;
  right: 5.5rem;
  top: .2rem;
}

.login-form .input-container,
.register-form .input-container {
  margin-bottom: 2rem;
}