/* Authentication Page Styles */

body {
  background-color: #222222 !important;
}

.auth-container {
  background-color: #FFFFFF !important;
  max-width: 22rem !important;
  margin: 22.5% auto !important;
  width: 50% !important;
  height: 50% !important;
}

h1 {
  font-family: 'Roboto', sans-serif !important;
  font-size: .7rem !important;
}

/* Login & Register Styles */

.auth-buttons button {
  margin-bottom: 2rem !important;
  padding: .5rem 4.11rem !important;
}

.submit-button {
  position: relative !important;
  padding: .5rem 1rem !important;
  margin-bottom: 1rem !important;
  left: 6.5rem !important;
}

.submit-button:hover {
  background-color: #E31C25 !important;
}

.username-input, .password-input {
  background-color: #FFFFFF !important;
  color: #000000;
}

