/* Navbar */

nav {
  background-color: #161616;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

nav img {
  border-radius: 100%;
  border: 2px solid #E31C25;
  max-width: 2.5rem;
  margin: .5rem;
}

.sign-out-icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: #E31C25;
}