/* Navbar */

.top-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #161616;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header img {
  border-radius: 100%;
  border: 2px solid #E31C25;
  max-width: 2rem;
  margin: .5rem;
}

.sign-out-icon {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  color: #E31C25;
}

.user-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.title-div {
  margin-left: 2.5rem;;
}

/* Sidebar */

.sidebar {
  position: sticky;
  background-color: #BB000E;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 100vh;
  top: 0;
}

.sidebar {
  position: sticky;
  overflow-y: auto;
  overflow-y: auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navigation a {
  color: #FFFFFF;
  text-decoration: none;
}

.navigation li {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  padding-left: 1.5rem;
}

.navigation li:not(.selected):hover {
  background-color: #E31C25;
  transition-duration: 1s;
}

.navigation span {
  margin-left: 1rem;
}

.svg-inline--fa.fa-arrow-right {
  position: absolute;
  left: 10rem;
}

.small{
  color: #FFFFFF;
  width: 4rem;
}

.selected {
  background-color: #E31C25;
  transition-duration: 1s;
}

.small .selected {
  width: 62%;
}

.activities-section {
  display: flex;
  flex-direction: column;
  background-color: #2C2C2C;
  border: .5rem solid #BB000E;
  height: 100vh;
}

.activities-section h3 {
  color: #FFFFFF;
  padding-left: 1rem;
  text-decoration: underline;
  padding: 0;
  margin-bottom: 0;
}

.activities {
  margin: 0;
  padding: 0;
  font-size: .85rem;
}